node_modules/
package.json
package-lock.json
yarn.lock

smart-contract/package.json
smart-contract/package-lock.json
smart-contract/yarn.lock
smart-contract/artifacts/**
smart-contract/cache/**
smart-contract/node_modules/**
smart-contract/scripts/**
smart-contract/test/**
smart-contract/types/**
smart-contract/typechain-types/**
smart-contract/*.abi

fe/package.json
fe/package-lock.json
fe/yarn.lock
fe/node_modules/**
fe/static/**
fe/.nuxt/**
fe/.nitro/**
fe/.cache/**
fe/.output/**
fe/.env
fe/dist/**
fe/*.log
fe/*.config**
fe/*.json
fe/*.md
