@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(180deg, #f39d40 0%, #ac3971 100%);
  --primary-50: "#F9F8F8";
}

body {
  background: var(--primary-50);
  font-family: "Space Mono", monospace;
}

.btn-gradient {
  background: var(--gradient);
  @apply h-10 px-4 rounded-[6px] text-white;
}

.dropdown-item {
  @apply p-2 text-left hover:bg-gray-200;
}

.bg-linear-gradient-primary {
  @apply bg-gradient-to-r from-[#CF7A1E] to-[#AC3971];
}

.bg-linear-gradient-white-to-light {
  @apply bg-gradient-to-b from-white to-light;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
