@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Space Mono", monospace;
  @apply text-primary-10 bg-primary-50;
}

@layer base {
  .bg-linear-gradient-primary {
    @apply bg-gradient-to-b from-[#CF7A1E] to-[#AC3971];
  }

  .bg-linear-gradient-white-to-light {
    @apply bg-gradient-to-b from-white to-light;
  }
}

@layer components {
  .btn-gradient {
    @apply h-10 px-4 rounded-[6px] text-white bg-gradient;
  }

  .btn-gradient-hr {
    background: var(--hr-gradient);
    @apply py-2 px-4 rounded-lg text-white text-sm font-bold bg-linear-gradient-primary;
  }

  .dropdown-item {
    @apply p-2 text-left hover:bg-gray-200;
  }
}